* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #36D6AD;
  --segundary-color: #3772FF;
  --text-primary-color: #FFFFFF;
  --segundary-text-color: #737380;
  --third-text-color: #BCBCBC;
  --color-button-pag-inicial: #FC7071;
  --color-fund-input: #F6F6F6;
  --color-creme: #FCF0E3;
  --color-cinza-text-input: #BCBCBC;

  --font-principal:'Poppins', sans-serif;
  --font-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
  background-image:
  url('./assets/patinhas.png'),
  url('./assets/forma1-header.png'), 
  url('./assets/forma3-body.png');

  background-repeat: no-repeat;
  background-position: 
  right top,
  left top, 
  left 68%;

  min-height: 100vh;/*definindo tamanho da página*/
}

.body-pag-cadastro {
  background-color: var(--text-primary-color);
}

/*======CONFIGURAÇÕES MENU DE HOME E MENSAGEM DO HEADER====*/

.menu-header {
  display: flex;
  margin-top: 48px;
}
.home,
.mensagens {
  padding-left: 58.61px;
}

/*=======CONFIGURAÇÃO LOGO=======*/
.logo-pag-cadastro {
  display: flex;
  padding-top: 86.99px;
  padding-bottom: 24px;
  justify-content: center;
}

/*=======CONFIGURAÇÃO DOS TEXTOS DA PÁGINA DE CADASTRO=======*/

.paragrafos-cadastro{
  text-align: center;
  color: var(--segundary-color);
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.paragrafo__cadastro {
  margin-top: 10px;
}

/*=======CONFIGURAÇÃO DOS FORMS PÁGINA CADASTRO=======*/
.labels-pag-cadastro {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  color: var(--segundary-text-color);
}

.input-forms-pag-cadastro {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  display: flex;
  justify-items: center;
  text-align: center;
  width: 312px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color: var(--color-fund-input);
  border-style: none; 
  box-shadow: 1px 1px 3px var(--segundary-text-color);
}

.input-forms-pag-cadastro-senha-protegida {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  display: flex;
  justify-items: center;
  text-align: center;
  width: 312px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color: var(--color-fund-input);
  border-style: none; 
  box-shadow: 1px 1px 3px var(--segundary-text-color);

  background-image: url('./assets/senha-protegida.png');

  background-repeat: no-repeat;
  background-position: 
  right 1rem center;
}
/*=======CONFIGURAÇÃO DOS BOTOES DA PÁGINA DE CADASTRO=======*/

.button-cadastrar {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 148px;
  height: 40px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 105px;
  border-radius: 6px;
  color: var(--text-primary-color);
  background: var(--color-button-pag-inicial);
  border-style: none;
  display: block;
}


/*=======CONFIGURAÇÃO FOOTER=======*/
footer {
  position: relative;
  text-align: center;
  padding-top: 41px;
  padding-bottom: 41px;
  color: var(--text-primary-color);
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  background: var(--primary-color);
  margin-top: -1rem;
}