* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #36D6AD;
  --segundary-color: #3772FF;
  --text-primary-color: #FFFFFF;
  --segundary-text-color: #737380;
  --third-text-color: #BCBCBC;
  --color-button-pag-inicial: #FC7071;
  --color-fund-input: #F6F6F6;
  --color-creme: #FCF0E3;
  --primary-color-background: #E5E5E5;

  --font-principal:'Poppins', sans-serif;
  --font-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
  background-image:
  url('./assets/forma1-header.png');

  background-repeat: no-repeat;
  background-position: 
  left top;
  min-height: 100vh;

}

.body-pag-login {
  background-color: var(--text-primary-color);
}

/*======CONFIGURAÇÕES MENU DE HOME E MENSAGEM DO HEADER====*/

.menu-header {
  display: flex;
  margin-bottom: 4rem;
}
.home,
.mensagens {
  margin-top: 2rem;
  padding-left: 3rem;
}

.icone-usuario {
  margin-top: 1.5rem;
  padding-left: 8.5rem;
}

/*=======CONFIGURAÇÃO CONTEUDO=======*/

.conteudo {
  height: 324vh;
  width: 70%;
  margin: 0 auto;
  flex-grow: 1;
}

/*=======CONFIGURAÇÃO DOS TEXTOS=======*/

.paragrafo-pag-galeria-animais {
  display: flex;
  text-align: center;
  color: var(--segundary-color);
  margin-top: 8rem;
  margin-left: 6rem;
  margin-right: 6%;
  font-size: 1rem;
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
}

/*=======CONFIGURAÇÃO DAS LISTAS=======*/

.itens-lista {
  margin-top: 2rem;
}

.perfil-pet-dunga {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  display: flex;
  /*margin-left: -5rem;*/

  flex-direction: column;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  margin-right: 1rem;
  

  background-image: 
  url('./assets/dog-dunga.png'),
  url('./assets/icone-mensagem.png');
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
  

}

.perfil-pet-felicia{
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;

  display: flex;

  flex-direction: column;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/cat-felicia.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-sirius {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  margin-right: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/dog-sirius.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-fiona {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  margin-right: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/dog-fiona.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-sid {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  margin-right: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/dog-sid.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-yoda {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  margin-right: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/cat-yoda.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-lua {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  margin-right: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/cat-lua.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-amora {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  margin-right: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/dog-amora.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-zelda {
  background-color: var(--color-fund-input);
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  margin-right: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('./assets/cat-zelda.png'),
  url('./assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}


li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.nome-pet {
  font-family: var(--font-principal);
  color: var(--segundary-color);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.descricao-pet {
  font-family: var(--font-principal);
  color: var(--segundary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.localizacao-pet {
  margin-top: 30px;
  margin-bottom: 7px;
  font-family: var(--font-principal);
  color: var(--segundary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

a {
  text-decoration: none;
  font-family: var(--font-principal);
  color: var(--segundary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  padding-left: 23px;
}

@media (min-width: 600px){
  .menu-header {
    background-image: url('./assets/logo-header.png');

    background-repeat: no-repeat;
    background-position: 
    left 2rem top 2rem;
  
  }

  .home {
    margin-left: 8rem;
  }

  .icone-usuario {
    position: absolute;
    left: 70%;
  }

  .itens-lista {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6rem;
  }
  
}


/*=======CONFIGURAÇÃO FOOTER=======*/
footer {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 41px;
  color: var(--text-primary-color);
  background: var(--primary-color);
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}